<ion-view view-title="Connexion">
  <ion-content>

    <img class="flow-logo" src="img/logo.png"/>

    <div class="card" ng-if="$parent.messages">
      <div class="item item-divider">Erreurs</div>
      <div class="item item-text-wrap" ng-repeat="message in $parent.messages">{{message}}</div>
    </div>

    <div class="spacer" style="height: 30px;"></div>

    <div class="list list-inset">
      <label class="item item-input log-item">
        <i class="icon ion-android-person placeholder-icon"></i>
        <input type="text" placeholder="Nom d'utilisateur" ng-model="$parent.email" required/>
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="Mot de passe" ng-model="$parent.password" required/>
      </label>
    </div>

    <div class="list list-inset">
      <button style="font-size:1.5em;" class="button button-block button-calm" ng-click="$parent.login()">Connexion</button>
    </div>

  </ion-content>
</ion-view>
