<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Accueil" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Scanner" icon-off="ion-ios-barcode-outline" icon-on="ion-ios-barcode" ng-click="gotoScan()">
    <ion-nav-view name="tab-scan"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Options" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
