<ion-view view-title="Scanner">
    <ion-content class="padding">

        <div class="list list-inset">
            <h1 class="app-title">SCANNER</h1>
        </div>

        <!-- Browser barcode scanner -->
        <div class="row">
            <div class="col">
                <div class="list list-inset" ng-hide="keyboardVisible || is_mobile">
                    <canvas style="height: 300px; display:block; margin:auto;"></canvas>
                </div>
            </div>

        </div>


        <!-- Android / IOS barcode scanner -->

        <div class="list list-ins¨et" ng-if="is_mobile" ng-hide="keyboardVisible">
            <button class="button button-block button-assertive" ng-click="scanQrBarcode()">
                <i class="icon ion-qr-scanner"></i> Scanner un Code Barre/QR
            </button>
        </div>


        <div class="list list-inset" ng-show="keyboardVisible">
            <label class="item item-input">
                <input type="text" ng-value="numbers" autofocus/>
            </label>
        </div>

        <div class="list list-inset" ng-hide="keyboardVisible">
            <button class="button button-block button-royal" ng-click="toogleKeyboard()">
                <i class="icon ion-social-twitch-outline"></i> Validation par numéro
            </button>
        </div>

    </ion-content>

    <!-- Manual Code -->
    <ion-digit-keyboard settings="keyboardSettings" ng-show="keyboardVisible" style="margin-bottom: 9.5%"></ion-digit-keyboard>

    <div class="bar bar-footer bar-calm" ng-click="goBack()" ng-hide="keyboardVisible">
        <div class="title"><i class="ion-chevron-left"></i> Retour</div>
    </div>

</ion-view>
